---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 vcenter idxHdr">
      <div style='font-size: 2em; color: #4582ec; font-weight: bold; padding-bottom: 0.3em;'>Steve Jan</div>
      <div style='font-size: 1.2em;'>
        Ph.D. Student
      </div>
      <div style='font-size: 1.2em'>
        <a href="http://cs.vt.edu">Computer Science</a>
      </div>
      <div style='font-size: 1.2em'>
        <a href="http://vt.edu/">Virginia Tech</a>
      </div>
      <br/>

   

      <ul class="list-inline idxIcons" style='font-size: 1.9em; margin-top: 0.5em;'>
        <li>
          <a href="http://github.com/stevetkjan" target="_blank">
            <i class="fa fa-fw fa-github"></i></a>
        </li>
         <li>
          <a href="http://www.linkedin.com/in/stevetkjan" target="_blank">
            <i class="fa fa-fw fa-linkedin"></i></a>
        </li>
         <a href="https://scholar.google.com/citations?user=1rTlcOQAAAAJ" class="btn btn-primary" style="padding: 0.3em;">
  <i class="ai ai-google-scholar"></i> Google Scholar
</a>
      </ul>
      <hr/>
      <strong>
         I will join Tiktok as a machine learning engineer after graduating from VT.
      </strong>
    </div>
    <div class="col-md-2 vcenter idxHdr">
      <a href="/images/me-large.png">
        <img src="/images/me.png"
             style="border-radius: 20px; margin: 10px; max-width: none;"
             alt="Me."/>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ content }}
    </div>
  </div>
</div>
